# Entornos virtuales
venv/
env/
.env

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Herramientas de desarrollo (mencionadas en tu README)
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Archivos de VS Code
.vscode/